<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML PREDICTIONS FOR OBD DATA</title>
</head>
<body>
    <form action="" method="post">
        <label for="">Feature 01</label>
        <input type="text" name="feature_1">
        <br>
        <label for="">Feature 02</label>
        <input type="text" name="feature_2">
        <br>
        <label for="">Feature 03</label>
        <input type="text" name="feature_3">
        <br>
        <label for="">Feature 04</label>
        <input type="text" name="feature_4">
        <br>
        <label for="">Feature 05</label>
        <input type="text" name="feature_5">
        <br>
        <label for="">Feature 06</label>
        <input type="text" name="feature_6">
        <br>
        <label for="">Feature 07</label>
        <input type="text" name="feature_7">
        <br>
        <label for="">Feature 08</label>
        <input type="text" name="feature_8">
        <br>
        <label for="">Feature 09</label>
        <input type="text" name="feature_9">
        <br>
        <label for="">Feature 10</label>
        <input type="text" name="feature_10">
        <br>
        <label for="">Feature 11</label>
        <input type="text" name="feature_11">
        <br>
        <label for="">Feature 12</label>
        <input type="text" name="feature_12">
        <br>
        <input type="submit" name="Submit">
    </form>
</body>
</html>